body {
  background-color: #ffeead;
  color: #ec1c24
}
h1 {
  text-align: center;
}
a {
  color: #88d8b0;
}
a:hover {
  color: #ffcc5c;
}
a:visited {
  color: #ec1c24;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
h1 {
  font-weight: lighter;
  text-align: center;
  font-family: "Times New Roman", Georgia;
  background-color: #ffcc5c;
  border: 4px solid #88d8b0;
}
p {
    border: 4px solid #88d8b0;
    border-radius: 0px 0px 0px 0px;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 140%;
    text-align: justify;
    font-family: "Verdana",Arial;
    font-size: 12px;
}
