p {
  font-style: 'Arial'
  font-size: 12px;
}
body {
  background-color: #ffeead;
  color: #ec1c24
}
h1 {
  text-align: center;
}
a {
  color: #88d8b0;
}
a:hover {
  color: #ffcc5c;
}
a:visited {
  color: #ec1c24;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
