body {
  background-color: #ffeead;
  color: #ec1c24
}
h1 {
  text-align: center;
}
a {
  color: #88d8b0;
}
a:hover {
  color: #ffcc5c;
}
a:visited {
  color: #ec1c24;
}

address {
  margin-left: 200px;
  font-size: 29px;
}

ul {
  background-color: #ffcc5c;
  margin-top: 20px;
  margin-right: 500px;
  margin-left: 520px;
  border-bottom: 5px solid #88d8b0;
  padding-left: 50px;
  word-spacing: 30px;
}
li {
  display: inline-block;
  border: 4px solid #ffcc5c;
  text-align: center;

}
h1 {
  font-family: "Arial", Verdana;
  font-weight: lighter;
  text-align: center;
}
p {
    border: 4px solid #88d8b0;
    border-radius: 0px 0px 0px 0px;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 140%;
    text-align: justify;
    font-family: "Arial",Verdana;
    font-size:  17px;
    margin-left: 200px;
    margin-right: 200px;
}

#active{
  color:  #ffeead;
}

li a {
  text-decoration: none;
  color: ghostwhite;
  font-size: 30px
}

li a:hover{
  padding-top: 10px;
  padding-bottom: 13px;
  color: #88d8b0;
}

.Oosterpark {
  height: 600px;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
img {
  border: 4px solid #ffcc5c;
  margin-left: 0px;
  margin-right: 20px;

}
.logo {
  position: absolute;
  top: -20px;
  left: -100px;
  border: none;
  right: 16px;
  }

.tekst {
  margin-left: 0px;
  margin-right: 44000px;
}
.home {
  float: right;
}
.home2 {
  float: left;
  margin-top: -360px;
}
iframe {
  margin-left: auto;
  margin-right: auto;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 0px;
}

.klas {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}

.tekst2{
  margin-left: 200px;
 margin-right: 200px:
}

.tekst2 {
  margin-right: 200px;
  margin-left: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: -20px;
}
